#menu {
	transition:
		opacity 0.4s ease-out,
		visibility 0.4s ease-out;
}

#menu.menu-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

#menu.menu-closed {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
