---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"
---
<Layout >
	<section>
		<div class="fixed text-white text-center">
			<div class="flex flex-col items-center justify-center p-20">
				<h1 class="text-4xl font-bold">test</h1>
				<p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
			</div>
		</div>
		<canvas class="block w-full h-full bg-gray-900" id="grid"></canvas>
	</section>
</Layout>
