---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import About from "../components/about.astro";
import Work from "../components/work.astro";
import Contact from "../components/contact.astro";
---

<Layout>
	<main>		
		<Hero />
		<About />
		<Work />
		<Contact />
	</main>
</Layout>
