<header class="w-full shadow-md/30 backdrop-blur-sm mx-auto min-w-auto px-4 py-6 bg-gray-800">
      <div class="flex justify-around items-center">
      <div class="flex items-center">
        <a href="/" class="h-10 w-10 rounded-full text-indigo-400 flex items-center justify-center text-2xl font-bold">KOUZIA</a>
      </div>
      <nav class="hidden md:flex space-x-8">
        <a href="/" class="text-white font-semibold uppercase hover:text-indigo-400 transition-colors duration-200">À propos</a>
        <a href="/404" class="text-white font-semibold uppercase hover:text-indigo-400 transition-colors duration-200">Mes Stacks</a>
        <a href="/404" class="text-white font-semibold uppercase hover:text-indigo-400 transition-colors duration-200">Mes Projets</a>
        <a href="/404" class="text-white font-semibold uppercase hover:text-indigo-400 transition-colors duration-200">Contactez-moi</a>
      </nav>
      <div class="md:hidden">
        <button class="text-indigo-400 focus:outline-none"><i class="fa-solid fa-bars text-2xl"></i></button>
      </div>
    </div>
  </header>